<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block head_adds %}{% endblock %}
        
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ML</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('MlCaso') }}">Caso Uso Sup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('map') }}">Mapa mental</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('linear_regression_Exp_Salario') }}">Regresión Lineal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logistic_regression_fallo') }}">Regresión Logística</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Modelos ML
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('rl') }}">Regresión Logistica</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('knn') }}">K-Nearest Neighbors (KNN)</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('arbol') }}">Árboles de Decisión</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('rf') }}">Random Forest</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('svm') }}">Support Vector Machine (SVM)</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('gb') }}">Gradient Boosting</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('nb') }}">Naive Bayes</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('MLClasificacionCultivo') }}">ML Clasificación</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>