{% extends "base.html" %} {% block title %}Inicio{% endblock %} {% block content
%}
<div>
  <header class="text-center bg-primary text-white p-4 shadow-lg">
    <h1 class="fw-bold">Regresión Logistica</h1>
  </header>

  <div class="container mt-5 d-flex justify-content-center">
    <iframe
      width="1600"
      height="800"
      frameborder="0"0
      src="https://www.mindmeister.com/maps/public_map_shell/3656481882/regresi-n-logistica?width=600&height=400&z=auto&no_share=1&no_logo=1"
      scrolling="no"
      style="overflow: hidden; margin-bottom: 5px"
      >Tu navegador no puede mostrar marcos. Visita
      <a
        href="https://www.mindmeister.com/3656481882/regresi-n-logistica"
        target="_blank"
        >Regresión logistica</a
      >
      en MindMeister.
    </iframe>
  </div>
</div>
{% endblock %}
